<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAX_6EniXbwcokIOX12vykvp7WYMUJ6F6E</string>
	<key>GCM_SENDER_ID</key>
	<string>123688487609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.textTreasureFirstVersion</string>
	<key>PROJECT_ID</key>
	<string>flutter-authentication-s-38b84</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-authentication-s-38b84.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123688487609:ios:26fe84f894e5a602a4a968</string>
</dict>
</plist>